.btnBox {
  margin: 1rem;
}

.btn {
 
  padding: 1.2rem 3.8rem;
  background-color: var(--button-color);
  border-radius: 15px;
  color: #fff;
  font-size: 2.4rem;
  border: none;
  transition: 0.35s;
  text-decoration: none;
  font-weight: 600;
}

.btn:link,.btn:visited {
  background-color: var(--button-color);
}
.btn:hover,.btn:active {
  background-color: var(--title-color);
}

/* BELOW 1344px (Smaler desktop) */

@media (max-width: 84em) {
  .btn {
    font-size: 2rem;
  }
}

/*RESPONSIVE BELOW 656px  */
@media (max-width: 41em) {
  .btnBox {
    margin: 1rem;
  }
  .btn {
    font-size:1.6rem;
  padding: 1rem 2.5rem;
  margin: 0.5rem;

  }
}
/*RESPONSIVE BELOW 464px  */
@media (max-width: 29em) {
  .btnBox {
    margin: 0;
    padding: 0;
  }

  .btn {
    padding: 1rem 2rem;
    font-weight: 400;
    font-size: 1.5rem;
  }
}
/*RESPONSIVE BELOW 344px  */
@media (max-width: 21.5em) {
  .btnBox {
    margin: 0rem;
  }

  .btn {
    padding:1rem 0.7rem;
    font-weight: 400;
    font-size: 1.3rem;
  }
}
