.container {
  height: 7.5rem;
  width: 100%;
  background-color: var(--cta-color);
  position: fixed;
  bottom: 0;
  border-top: 3px solid yellow;
  box-shadow: rgba(255, 243, 11, 0.05) -5px -5px 20px -5px;

}

.container p {
  color: #fff;
  font-size: 3.4rem;
  text-align: center;
  margin-top: 1.6rem;
  border: none;
  transition: 0.35s;
  text-decoration: none;
  font-weight: 600;
}
.container span {
  color: var(--link-color-1);
}

/*RESPONSIVE BELOW 864px  */
@media (max-width: 54em) {
  .container {
    display: block;
  }
}

/*RESPONSIVE BELOW 464px  */
@media (max-width: 29em) {
  .container {
    height: 6.5rem;
  }
  .container p {
    font-size: 2.8rem;
    margin-top: 1.6rem;
  }
}

/*RESPONSIVE BELOW 344px  */
@media (max-width: 21.5em) {
  .container {
    height: 5.8rem;
  }
  .container p {
    font-size: 2rem;
    margin-top: 1.4rem;

    line-height: 3rem;
  }
}
