
@font-face {
  font-family: "iranSans";
  src: url("/fonts/IRANSans-UltraLight-web.ttf") format("ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "iranSans";
  src: url("/fonts/IRANSans-Light-web.ttf") format("ttf");
  font-weight: light;
}
@font-face {
  font-family: "iranSans";
  src: url("/fonts/IRANSans-Medium-web.ttf") format("ttf");
  font-weight: medium;
}

@font-face {
  font-family: "IRANSans";
  src: url("/fonts/IRANSans-Bold-web.ttf") format("ttf");
  font-weight: bold;
}
@font-face {
  font-family: "iranSans";
  src: url("/fonts/IRANSans-web.ttf") format("ttf");
  font-weight: 100;
}

:root {
  --primary-color-950: #2e1065;
  --primary-color-900: #4c1d95;
  --primary-color-800: #5b21b6;
  --primary-color-700: #6d28d9;
  --primary-color-600: #7c3aed;
  --primary-color-500: #8b5cf6;
  --primary-color-400: #a78bfa;
  --primary-color-300: #c4b5fd;
  --primary-color-200: #ddd6fe;
  --primary-color-100: #ede9fe;
  --primary-color-50: #ede9fe;

  --secondary-color-950: #422006;
  --secondary-color-900: #713f12;
  --secondary-color-800: #854d0e;
  --secondary-color-700: #a16207;
  --secondary-color-600: #ca8a04;
  --secondary-color-500: #eab308;
  --secondary-color-400: #facc15;
  --secondary-color-300: #fde047;
  --secondary-color-200: #fef08a;
  --secondary-color-100: #fef9c3;
  --secondary-color-50: #fefce8;
  --title-color-1: #000;
  --title-color-2: #eab308;
  --text-color: #fff;
  --text-color-2: #3a3535;



  --navbar-color: #2e1065; /* 950 */
  --button-color: #8b5cf6; /* 500 */
  --hiro-color-1: #a78bfa; /* 400 */
  --hiro-color-2: #5b21b6; /* 800 */
  --hiro-color-3: #000;

  --title-color: #000;
  --cta-color: #4c1d95;
  --footer-color: darkblue;

  --link-color-1: #1bfc57;
  --link-color-2: #eda005;
  --link-color-3: #4632da;
  --link-color-4: rgb(8, 7, 18);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "iranSans", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "iranSans", sans-serif;
  line-height: 1;
  font-weight: lighter;
  color: #555;
  background-color: var(--primary-color-100);

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}
.main{
  position: relative;
  margin-bottom: 6rem;
}


