
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  line-height: 6.4rem;
  margin: 9.6rem 0;
  background-color:var(--primary-color-300 );
  border-radius: 20%;
  padding: 7rem 0;

}

.container h2 {
  color: var(--title-color);
}

.areaButton {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: 2.4rem;
  position: relative;

}

.btnNumber{
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  margin-top: -3rem;
  color: var(--text-color-2);
}

/*RESPONSIVE BELOW 656px  */
@media (max-width: 41em) {
  .areaButton {
   flex-wrap: wrap;
  }
  .container h2 {
    font-size: 3.6rem;
    font-weight: bold;
    }
}

/*RESPONSIVE BELOW 464px  */
@media (max-width: 29em) {
   
      .container h2,h3 {
        font-size: 2.5rem;
        font-weight: 900;
        }
        
        .btnNumber{
          font-size: 1.5rem;
         
          margin-top: -2rem;
        }
  }
  /*RESPONSIVE BELOW 344px  */
@media (max-width: 21.5em) {
  .container h2 {
    font-size: 2.1rem;
    font-weight: bold;
    margin: 0;padding: 0;
    }
    h3{
      font-size: 1.5rem !important
    }

    .btnNumber{
      font-size: 1rem;
     
    }
  .container h3 {
    font-size: 2.8rem;
  
    }
}
